<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Sign Up</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirm</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        Sign In
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>